<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
  [(ngModel)]="serverName">
<button
  class="btn btn-primary"
  [disabled]="!getAllowNewServer()"
  (click)="onCreateServer()">Add Server</button>
<button
  class="btn btn-default"
  [disabled]="serverName === ''"
  (click)="onClearServer()">Clear Server</button>
<!--
<p *ngIf="(serverName !== ''); else noServer"> Server Name is {{serverName}} </p>
<ng-template #noServer>
  <p>No server has been created </p>
</ng-template>
-->
<p *ngIf="(serverName !== '')"> Server Name is {{serverName}} </p>
<app-server *ngFor="let server of servers">
</app-server>
